body { direction: rtl ; }
.allNavs {
  box-shadow: 10px 10px 30px rgb(0 0 0 / 12%) !important;
}

/*----------------------- start  forgetPassword -----------------------*/
.forgetPassword {
  display: flex;
  justify-content: center;
  padding:200px 0;
}
.forgetPassword .content {
  width: 40%;
  border: 2px solid #ff6e5a;
  padding:40px 20px 110px;
  text-align: center;
}
.forgetPassword .content header {
  margin-bottom: 40px;
}
.forgetPassword .content header h2 {
  font-family: "Sulphur Point";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  text-align: center;
  text-transform: capitalize;
  color: #ff6e5a;
  margin-bottom: 65px;
}
.forgetPassword .content header p {
  font-family: "Sulphur Point";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  text-align: center;
  text-transform: capitalize;
  line-height: 120%;
  margin-bottom: 20px;
}
.forgetPassword .content .inputs {
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.forgetPassword .content .inputs input {
  width: 15%;
  aspect-ratio: 1/1;
  border: 1px solid #ff6e5a;
  outline: 0;
  text-align: center;
  font-size: 40px;
  margin:0 15px;
  color: #aaa;
  font-family: "Montserrat";
}
.forgetPassword .content form > button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: left;
  color: #2d9cdb;
  background: none;
  border: 0;
  text-transform: capitalize;
  outline: none;
}
/*////////////////////////// start news media query ///////////////////////////// /*/
@media (max-width: 1200px) {
}
@media (max-width: 995px) {
  .forgetPassword .content {
    width: 75%;
  }
}
@media (max-width: 768px) {
  .forgetPassword {
    padding:80px 0;
  }
  .forgetPassword .content {
    width: 85%;
  }
  .forgetPassword .content header h2 {
    font-size: 30px;
  }
  .forgetPassword .content header .socialmedia label {
    font-size: 14px;
  }
  .forgetPassword .content header .socialmedia i {
    width: 35px;
    height: 35px;
    font-size: 14px;
  }
  .forgetPassword .content form .input input {
    height: 40px;
    border-radius:4px;
  }
  .forgetPassword .content header p {
    font-size: 22px;
  }
  .forgetPassword .content .inputs {
    margin-bottom: 60px;
  }
  .forgetPassword .content {
    padding:40px 0 80px;
  }
}
@media (max-width: 575px) {
  .forgetPassword .content {
    width: 95%;
  }
}
/*/ ///////////////////////// end news media query ///////////////////////////// /*/
/*----------------------- end  forgetPassword -----------------------*/
/*
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
-
*/
